<h1>Formulario</h1>
<form class="formulario" ><!--/form>(ngSubmit)="agregarUsuario()" {formGroup}="formularioPrincipal"-->
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" formControlName="nombre">
        <p *ngIf="formularioPrincipal.get('nombre')?.errors?.['requiered']">
            El campo nombre es requerido
        </p>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Correo</label>
        <input type="text" formControlName="correo">
        <p *ngIf="formularioPrincipal.get('correo')?.errors?.['requiered']">
            El campo correo es requerido
        </p>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Contraseña</label>
        <input type="text" formControlName="password">
        <p *ngIf="formularioPrincipal.get('password')?.errors?.['requiered']">
            El campo contraseña es requerido
        </p>
    </div>    
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
